*.iml
.gradle
/local.properties
/.idea/
# Don't ignore the following, they should be checked into version control
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/compiler.xml
!/.idea/jarRepositories.xml
!/.idea/render.experimental.xml
# End of files to not ignore from .idea/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Firebase config files (use template instead)
app/google-services.json

# Environment variables
.env
local.properties
